<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    
    {% include redirect/head.html %}
    
    {% include imports/fonts.html %}
    {% include imports/stylesheets.html %}
    {% include imports/javascripts.html %}
    
    <meta name="author" content="{{ site.author }}">
    {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% include slate/header.html %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      {% include redirect/body.html %}
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% include slate/footer.html %}
      </footer>
    </div>

    

  </body>
</html>
